{
  "printWidth": 100,
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "proseWrap": "never",
  "extends": [
    "prettier/react",
    "prettier/standard",
    "plugin:prettier/recommended"
  ]
}
